node-red-data/flows.json
[
    {
        "id": "tab-iot-dashboard",
        "type": "tab",
        "label": "IoT MQTT Dashboard",
        "disabled": false,
        "info": "Monitor and control IoT devices via MQTT"
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "Mosquitto (local)",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": false,
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": false,
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": false,
        "willPayload": ""
    },
    {
        "id": "node-mqtt-in-state",
        "type": "mqtt in",
        "z": "tab-iot-dashboard",
        "name": "device state",
        "topic": "home/device/+/state",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "node-debug-state",
                "node-func-state"
            ]
        ]
    },
    {
        "id": "node-mqtt-in-event",
        "type": "mqtt in",
        "z": "tab-iot-dashboard",
        "name": "device event",
        "topic": "home/device/+/event",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "node-debug-event"
            ]
        ]
    },
    {
        "id": "node-mqtt-in-register",
        "type": "mqtt in",
        "z": "tab-iot-dashboard",
        "name": "device register",
        "topic": "home/register",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "node-debug-register"
            ]
        ]
    },
    {
        "id": "node-debug-state",
        "type": "debug",
        "z": "tab-iot-dashboard",
        "name": "state log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "node-func-state",
        "type": "function",
        "z": "tab-iot-dashboard",
        "name": "extract mac from topic",
        "func": "var parts = msg.topic.split('/');\nmsg.mac = parts[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "node-change-state"
            ]
        ]
    },
    {
        "id": "node-change-state",
        "type": "change",
        "z": "tab-iot-dashboard",
        "name": "set topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "msg.mac",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "node-debug-event",
        "type": "debug",
        "z": "tab-iot-dashboard",
        "name": "event log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "node-debug-register",
        "type": "debug",
        "z": "tab-iot-dashboard",
        "name": "register log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "node-inject-cmd",
        "type": "inject",
        "z": "tab-iot-dashboard",
        "name": "send command",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "home/device/AA:BB:CC:DD:EE:FF/cmd",
        "payload": "{\"action\":\"toggle\"}",
        "payloadType": "json",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "node-mqtt-out-cmd"
            ]
        ]
    },
    {
        "id": "node-mqtt-out-cmd",
        "type": "mqtt out",
        "z": "tab-iot-dashboard",
        "name": "publish command",
        "topic": "",
        "qos": "0",
        "retain": false,
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 380,
        "y": 420,
        "wires": []
    }
]